{
  "crowd": {
    "base": "http://localhost/"
  },
  "application": {
    "name": "my application name",
    "password": "passl3ss"
  },
  "test": {
    "firstname": "nodeunit",
    "lastname": "testing",
    "displayname": "Nodeunit Testing",
    "username": "nodeunittesting",
    "password": "passl3ss",
    "email": "nodeunittesting@foo.bar",
    "group": "nodeunit-testing",
    "groupdesc": "Created by Node Unit Test"
  }
}
