{
  "crowd": {
    "base": "http://localhost/crowd/"
  },
  "application": {
    "name": "my application name",
    "password": "abc123def"
  },
  "test": {
    "firstname": "Unit",
    "lastname": "Test",
    "displayname": "Unit Test",
    "username": "acunittest",
    "password": "secret",
    "email": "unittesting@foo.bar",
    "group": "atlassian-crown-unit-testing",
    "groupdesc": "Created by node-atlassian-crowd Unit Test"
  }
}
